* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: hsl(229, 24%, 87%);
}
button {
  font-family: "Ububtu", sans-serif;
}

.circle--style {
  width: 40px;
  height: 40px;

  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  color: #000;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
