* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: hsl(229, 24%, 87%);
}
button {
  font-family: "Ubuntu", sans-serif;
}

.circle--style {
  width: 40px;
  height: 40px;

  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  color: #000;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* Button */
.nextStep {
  padding: 15px 20px;
  width: 120px;
  background-color: hsl(213, 96%, 18%);
  color: #fff;
  border: solid 1px rgba(0, 0, 255, 0);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.nextStep:hover {
  background-color: hsl(243, 100%, 62%, 0.4);
}

.goBack {
  padding: 15px 20px;
  width: 120px;
  background-color: hsl(255, 255, 0);
  color: hsl(231, 11%, 63%);
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
